
.MemoryGameComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memGrid {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
}

.gamWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgBlue{
    background: blue;
    color: white;
}

.bgGreen{
    background: green;
    color: white; 
}

.bgGray{
    background: lightgrey;
}