
.MemoryGameComponent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.memGrid {
    border: 1px solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.ReactMemoryGameComponent {
    margin-top: 1rem;
    width: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gamWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bgBlue{
    background: blue;
    color: white;
}