.OtpInput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

._input-box {
  width: 40px;
  height: 40px;
  margin-right: 4px;
  text-align: center;

  /* Hide number input arrows */
  -moz-appearance: textfield;
}
._input-box::-webkit-inner-spin-button,
._input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
