.inf_ListItem {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem;
   /* overflow-y: scroll; */
}



.inf-com-loadwrap, ._mainWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inf_item {
    width: 200px;
    height: 300px;
    border: 1px solid;
}



.InfniteScrollWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}