._layout {
  display: flex;
}

._sideBar {
     flex: 25%;
    background: lightblue;
    height: 100vh;
    padding: 0 10px;
}

._content {
  flex: 75%;
   height: 100vh;
}

._links{
  display: flex;
  flex-direction: column;
  
}